@model ChangePasswordModel
@{
    Layout = "_MinimalLayout";
    ViewData["Title"] = "ChangePassword Page";
}

<div class="container mt-5">
    <h2 class="text-center">Change Password</h2>

    <form asp-action="ChangePassword" method="post" >
        @Html.AntiForgeryToken()

        <!-- Hidden Field for ID -->
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" asp-for="CurrentPassword">
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" asp-for="NewPassword">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update Password</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
